.box4 {
    overflow: hidden;
    position: relative;
    background: #ffffff;
    margin-bottom: 30px;
}
figure {
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;
    display: block;
    margin-right: 20px;
}
figure img {
    height: 210px;
}
@media (min-width: 1220px) {
    .list3 li .info1 {
        overflow: hidden;
        margin-top: 46px;
    }
}
.info1 {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.list3title1 {
    font-family: 'Georgia', serif;
    font-size: 26px;
    line-height: 28px;
    font-weight: normal;
    color: #4e4134;
    margin-bottom: 10px;
}
.list3title2 {
    font-family: 'Georgia', serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    color: #adadad;
    margin-bottom: 6px;
}
.list3title3 {
    font-family: 'Georgia', serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: #c6c6c6;
    margin-bottom: 8px;
}
.btn-link1 {
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
    color: #585858;
    font-family: 'Georgia', serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
}
.btn-link1 span {
    margin: 0 0 0 7px;
    top: 1px;
    position: relative;
    height: 11px;
    width: 11px;
    background: url("../img/arrowsmall1.png") center top no-repeat;
    display: inline-block;
}
.btn-link1:hover span {
    background: url(../img/arrowsmall1.png) center bottom no-repeat;
}