<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" id="cart-button"
            class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i>
        <span id="cart-total">2 item(s) - $1,204.00</span></button>
    <ul id="dropdown-cart" class="dropdown-menu pull-right">
        <li>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td class="text-center"><a
                            href="http://demo.opencart.com/index.php?route=product/product&amp;product_id=43"><img
                            src="http://demo.opencart.com/image/cache/catalog/demo/macbook_1-47x47.jpg"
                            alt="MacBook" title="MacBook" class="img-thumbnail"></a>
                    </td>
                    <td class="text-left"><a
                            href="http://demo.opencart.com/index.php?route=product/product&amp;product_id=43">MacBook</a>
                    </td>
                    <td class="text-right">x 2</td>
                    <td class="text-right">$1,204.00</td>
                    <td class="text-center">
                        <button type="button"
                                onclick="cart.remove('YToxOntzOjEwOiJwcm9kdWN0X2lkIjtpOjQzO30=');"
                                title="Remove" class="btn btn-danger btn-xs"><i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="text-right"><strong>Sub-Total</strong></td>
                        <td class="text-right">$1,000.00</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                        <td class="text-right">$4.00</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>VAT (20%)</strong></td>
                        <td class="text-right">$200.00</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-right">$1,204.00</td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-right"><a
                        href="http://demo.opencart.com/index.php?route=checkout/cart"><strong><i
                        class="fa fa-shopping-cart"></i> View Cart</strong></a>&nbsp;&nbsp;&nbsp;<a
                        href="http://demo.opencart.com/index.php?route=checkout/checkout"><strong><i
                        class="fa fa-share"></i> Checkout</strong></a></p>
            </div>
        </li>
    </ul>
</div>