<span href="#" class="button" id="toggle-login">Log in</span>
<span href="#" class="button" id="logout-btn" style="display: none;">Log out</span>
<span class="button" id="toggle-signup">Sign up</span>
<span class="button" id="toggle-username" style="display:none;"></span>

<div id="login" class="login">
    <div class="triangle"></div>
    <h1>Log in</h1>

    <form>
        <input type="text" placeholder="Username" id="li-username"/>
        <input type="password" placeholder="Password" id="li-password"/>
        <input type="button" value="Log in" id="login-btn"/>
    </form>
</div>


<div id="signup" class="login">
    <div class="triangle"></div>
    <h1>Sign up</h1>

    <form>
        <input type="text" placeholder="Username" id="su-username" required="required"/>
        <input type="password" placeholder="Password" id="su-password"/>
        <input type="email" placeholder="Email" id="su-email"/>
        <input type="text" placeholder="Mailing address" id="su-mailing-address" required="required"/>
        <input type="button" id="signup-btn" value="Sign up"/>
    </form>
</div>