<div id="cart" class="btn-group btn-block">
    <button type="button" data-toggle="dropdown" id="cart-button"
            class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i>
        <span id="cart-total-products">0 item(s)</span></button>
    <ul id="dropdown-cart" class="dropdown-menu pull-right">
        <li>
            <table class="table table-striped">
                <tbody id="movies-in-cart">

                </tbody>
            </table>
        </li>
        <li>
            <div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-right" id="total-price">$0</td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-right"><a
                        href="http://demo.opencart.com/index.php?route=checkout/cart"><strong><i
                        class="fa fa-shopping-cart"></i> View Cart</strong></a>&nbsp;&nbsp;&nbsp;
                    <a href="" id="cart-check-out"><strong><i
                        class="fa fa-share"></i> Checkout</strong></a></p>
            </div>
        </li>
    </ul>
</div>